.bag_container {
  margin: auto;
  max-width: 1440px;
}

.cart_title {
  color: #1d1f22;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  margin: 100px 15px 0px 15px;
  height: 40px;
  text-transform: uppercase;
  width: 84px;
}

.bag_list {
  list-style: none;
  margin: 60px 15px 0px 15px;
  width: 100%;
}

.bag_list_item {
  border-top: 1px black;
  width: 95%;

  display: flex;
  justify-content: space-between;
}

.product_brand,
.product_name {
  color: #1d1f22;
  font-weight: 600;
  font-size: 30px;
  line-height: 27px;
  margin-bottom: 16px;
}

.horizontal_line {
  border-top: #e5e5e5;
  height: 1px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 100%;
}

.product_price {
  color: #1d1f22;
  font-weight: bolder;
  font-size: 24px;
  line-height: 18px;
  margin: 22px 0px;
}

.counter_increment,
.counter_decrement {
  background-color: #fff;
  border: 1px solid black;
  height: 24px;
  transition: all 0.3s;
  width: 24px;
  font-size: 36px;
  cursor: pointer;
}

.counter_increment:hover,
.counter_decrement:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}
.right_side .counter_increment,
.right_side .counter_decrement {
  height: 45px;
  width: 45px;
}

.bag_counter_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 90px;
  text-align: center;
  margin-right: 10px;
  font-size: 20px;
  font-weight: bold;
}

.right_side {
  display: flex;
  min-height: 100%;
  width: 200px;
}

.product_bag_image {
  position: relative;
}

.bag_main_product_image {
  height: 100%;
  width: 141px;
  object-fit: contain;
}

.size_button {
  color: black;
  background-color: #fff;
  border: 2px solid #1d1f22;
  box-sizing: border-box;
  height: 45px;
  margin-right: 5px;
  transition: all 0.3s;
  width: 63px;
}

.size_button:hover {
  background: #1d1f22;
  color: white;
}

.size_title {
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 10px;
}

.price_title {
  margin-bottom: 10px;
  font-weight: 700;
}

.color_button {
  display: block;
  height: 30px;
  width: 30px;
  border: none;
  padding: 0;
  margin: 2px auto;
}

.color_button_Wrapper {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  height: 36px;
  width: 36px;
  margin-right: 5px;
  border: 1px solid white;
}

.color_button_Wrapper:hover {
  border: 1px solid green;
}

.size_section {
  margin-bottom: 20px;
}
.active_color {
  border: 1px solid green;
}
.active_button_size {
  background: #1d1f22;
  color: white;
}

.bag_image_left_arrow,
.bag_image_right_arrow {
  position: absolute;
  width: 20px;
  background-color: rgb(0, 0, 0, 0.6);
}

.bag_image_left_arrow {
  right: 25%;
  bottom: 5%;
}

.bag_image_right_arrow {
  right: 5%;
  bottom: 5%;
}
.bag_image_left_arrow:hover,
.bag_image_right_arrow:hover {
  cursor: pointer;
}

.total_box {
  color: #1d1f22;
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-top: 8px;
}
.total_title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-transform: capitalize;
}
.total_amount {
  font-family: 'Raleway';
  font-weight: bolder;
  font-size: 16px;
  line-height: 160%;
}
.checkout_view_bag_button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.checkout_view_bag_button button {
  box-sizing: border-box;
  height: 43px;
  position: static;
  width: 280px;
  background-color: #5ece7b;
  border: 1px solid #5ece7b;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.remove_view_bag_button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.remove_view_bag_button button {
  box-sizing: border-box;
  height: 43px;
  position: static;
  width: 280px;
  background-color: #ff0000;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.totalProductsPriceAndQuantity {
  margin-bottom: 80px;
  padding: 10px;
}

@media only screen and (max-width: 640px) {
  .bag_list_item {
    flex-direction: column;
  }

  .bag_container {
    margin: 10px;
  }

  .bag_list_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .cart_title {
    text-align: center;
    width: 100%;
  }
}
