.cart_items {
  position: absolute;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 80px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col_1 {
  width: 10%;
}

.col_2 {
  width: 20%;
}

.col_3 {
  margin: auto;
  width: 30%;
}

.col_4 {
  width: 40%;
}

.col_6 {
  width: 45%;
  height: 184px;
}
.col_6_3_items {
  width: 45%;
  height: 260px;
}
.cart_items_container {
  background-color: #fff;
  display: block;
  max-height: 540px;
  overflow: auto;
  position: absolute;
  padding: 16px;
  right: 30px;
  top: 0;
  width: 360px;
  z-index: 999;
}

.cart_items_list {
  list-style: none;
}

.cart_items_list_title {
  color: #1d1f22;
  /* font-weight: bold; */
  font-size: 16px;
  line-height: 160%;
  margin-bottom: 25px;
  text-transform: none;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.counter_increment,
.counter_decrement {
  background-color: #fff;
  border: 1px solid black;
  height: 24px;
  transition: all 0.3s;
  width: 24px;
  font-size: 18px;
}

.counter_increment:hover,
.counter_decrement:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.product_box {
  height: 137px;
  width: 323px;
}

.cart_product {
  display: flex;
}

.product_cart_name,
.product_cart_brand {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  text-transform: capitalize;
  line-height: 160%;
}

.product_cart_price {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-top: 5px;
}

.total_box {
  bottom: 0;
  color: #1d1f22;
  display: flex;
  font-weight: 700;
  font-size: 16px;
  justify-content: space-between;
  line-height: 18px;
  margin-top: 80px;
  position: relative;
}

.checkout_view_bag_button {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.total_title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: normal;
}
.size_title {
  text-transform: capitalize;
  margin-bottom: 5px;
}
.total_amount {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bolder;
  font-size: 16px;
  line-height: 160%;
}
.checkout_view_bag_button button {
  background: #ffffff;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  height: 43px;
  position: static;
  width: 140px;
}

.checkout:hover {
  background-color: #5ece7b;
  border: 1px solid #5ece7b;
  color: white;
  cursor: pointer;
}

.viewBag:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}

.checkout_view_bag_button > a {
  display: block;
}
.navbar_cart_icon {
  display: inline-block;
  height: 20px;
  margin-left: 22px;
  width: 20px;
  cursor: pointer;
}

.cart_items_count {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.cart_items_count span {
  border-radius: 50%;
  background-color: #1d1f22;
  color: white;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
}

.right_side .counter_increment,
.right_side .counter_decrement {
  height: 45px;
  width: 45px;
}

.product_cart_image img {
  height: 100%;
  object-fit: contain;
  position: relative;
  width: 100%;
}

.product_cart_image {
  height: 100%;
  margin-left: 10px;
  width: 100%;
}
.cart_box_navbar {
  margin: auto;
}

.cart_box_navbar .cart_list_item {
  height: 24px;
  width: 24px;
}

.cart_box_navbar .cart_list_item {
  height: 24px;
  width: 24px;
}

.cart_box_navbar .cart_list_item {
  margin-top: 27px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  bottom: -5px;
}

.cart_box_navbar .cart_list_3item {
  margin-top: 27px;
  margin-bottom: 0;
  padding-bottom: 0;
  position: relative;
  /* bottom: -5px; */
  height: 90px;
}

.size_section {
  margin-bottom: 10px;
}

.color_button {
  display: block;
  height: 20px;
  width: 20px;
  border: none;
  padding: 0;
  margin: 1px auto;
}

.color_button_Wrapper {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  border: 1px solid white;
  margin-bottom: 10px;
}

.color_button_Wrapper:hover {
  border: 1px solid green;
}

.active_color {
  border: 1px solid green;
}
.active_button_size {
  opacity: 0.5;
}

.cart_box_navbar .cart_list_item {
  margin-bottom: 190px;
}
.capacity_size_button {
  font-size: 14px;
  min-width: 48px !important;
  height: 24px;
  color: black;
  background-color: #fff;
  border: 2px solid #1d1f22;
  box-sizing: border-box;
  margin: 0 2px;
  transition: all 0.3s;
}
.capacity_size_button:hover {
  background: #1d1f22;
  color: white;
}

.size_button {
  color: black;
  background-color: #fff;
  border: 1px solid #1d1f22;
  box-sizing: border-box;
  font-size: 12px;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  transition: all 0.3s;
}
.size_button:hover {
  background: #1d1f22;
  color: white;
}

@media only screen and (min-width: 1200px) {
  .cart_items_container {
    right: 90px;
  }
}

@media only screen and (min-width: 1681px) {
  .cart_items_container {
    right: 200px;
  }
}

@media only screen and (max-width: 500px) {
  .cart_items_container {
    right: 20px;
  }
}
